body{
    background-color: azure;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    table-layout: fixed;
    width: 30% ;
  }
  td {
    border-radius: 10%;
    width: 50% ;
  }


.content{
    text-align: center;
}

form{
    padding-top: 20px;
}

#content{
    width:20%;
    text-align: center;
}

@media (max-width: 700px){
    table{
        width: 90%;
    }
}
